.grid-content {
    min-height: 76%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    color: #cccccc;
}

.grid-content > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 55%;
    border: #977f53 5px solid;
    border-radius: 5px;
}

.book__buttons {
    width: 80%;
}

.book__data {
    align-items: flex-start;
    padding-left: 5%;
    text-align: left;
    color: #0e0e0e;
}

.book__data > ul {
    list-style: none;
    margin-left: -3rem;
    margin-top: 0;
}

.book__data > ul > li {
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    border-left: #977f53 5px solid;
    min-height: 2.2rem;
    font-size: small;
}

.book__data > ul > li > b {
    color:  #977f53;
}